.card {
  $root: &;

  &__body {
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gin);
  }

  &__image {
    margin-bottom: 15px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-mantle);
    margin-bottom: 10px;

    @include mixins.m-media-up(md) {
      font-size: 18px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    color: var(--color-shark);
    margin-bottom: 10px;

    @include mixins.m-media-up(md) {
      font-size: 30px;
    }
  }

  &__lithography {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-shark);
    margin-bottom: 10px;

    @include mixins.m-media-up(md) {
      font-size: 18px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-leaves);
    margin-bottom: 20px;

    @include mixins.m-media-up(md) {
      font-size: 24px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-leaves);
    background-color: initial;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-leaves);
    width: 100%;
    height: 65px;
    padding: 20px 60px;
    outline: none;
    cursor: pointer;

    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-leaves);
    }

    &:active {
      color: var(--color-white);
      background-color: var(--color-killarney);
    }

    &:focus {
      background-color: var(--color-surf);
      color: var(--color-leaves);
    }
  }
}
