@use '../../styles/mixins.scss';

.button {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  color: var(--color-leaves);
  border: 1px solid var(--color-leaves);
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 15px 36px;
  min-width: auto;
  font-size: 18px;
  @include mixins.m-state-clickable;

  @include mixins.m-media-up(sm) {
    padding: 13px 43px;
  }

  @include mixins.m-media-up(md) {
    padding: 18px 59px;
  }

  @include mixins.m-media-up(md) {
    padding: 18px 66px;
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-leaves);
  }

  &:focus {
    background-color: var(--color-surf);
    color: var(--color-leaves);
  }

  &:active {
    color: var(--color-white);
    background-color: var(--color-killarney);
  }

  &--yellow {
    background-color: var(--yellow);
    color: var(--text-primary);
    border: none;

    &:hover {
      background-color: var(--light-yellow);
      color: var(--text-primary);
    }

    &:focus {
      background-color: var(--light-yellow);
      color: var(--text-primary);
      border: 1px solid var(--yellow-border);
    }

    &:active {
      color: var(--text-primary);
      background-color: var(--dark-yellow);
    }
  }
}

.button-tabs {
  display: inline-block;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 500;
  font-size: 18px;
  color: var(--color-shark);
  background: var(--color-surf);
  border: none;
  width: 118px;
  height: 41px;
  @include mixins.m-state-clickable;

  &:hover {
    color: var(--color-white-2);
    background-color: var(--color-leaves);
  }

  &:focus {
    border: 2px solid var(--color-leaves);
    color: var(--color-shark);
    background: var(--color-surf);
  }

  &:active {
    border: none;
    background: var(--dark-green);
    color: var(--white);
  }

  &--active {
    background: var(--color-killarney);
    color: var(--color-white-2);
  }

  @include mixins.m-media-up(lg) {
    font-size: 20px;
    width: 126px;
    height: 43px;
  }
}
