@use '../../styles/mixins.scss';

.hero {
  padding-bottom: 60px;

  @include mixins.m-media-up(sm) {
    padding-bottom: 50px;
  }

  @include mixins.m-media-up(md) {
    padding-bottom: 35px;
  }

  @include mixins.m-media-up(lg) {
    padding-bottom: 69px;
  }

  &__inner {
    display: flex;
    padding-top: 60px;

    @include mixins.m-media-up(sm) {
      margin-left: 30px;
      padding-top: 50px;
    }

    @include mixins.m-media-up(md) {
      padding-top: 35px;
    }

    @include mixins.m-media-up(lg) {
      padding-top: 0;
    }
  }

  &__content {
    @include mixins.m-media-up(sm) {
      margin-left: 30px;
    }

    @include mixins.m-media-up(lg) {
      padding-top: 145px;
    }
  }

  .image {
    &__small-image {
      display: none;

      @include mixins.m-media-up(sm) {
        display: block;
      }

      @include mixins.m-media-up(md) {
        display: none;
      }
    }

    &__mid-image {
      display: none;

      @include mixins.m-media-up(md) {
        display: block;
      }

      @include mixins.m-media-up(lg) {
        display: none;
      }
    }

    &__lg-image {
      display: none;

      @include mixins.m-media-up(lg) {
        display: block;
      }
    }
  }

  &__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: var(--color-shark);
    margin-bottom: 20px;

    span {
      color: var(--color-leaves);
    }

    @include mixins.m-media-up(sm) {
      font-size: 36px;
    }

    @include mixins.m-media-up(md) {
      font-size: 40px;
    }

    @include mixins.m-media-up(lg) {
      font-size: 60px;
      line-height: 110%;
    }
  }

  &__desc {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-mantle);
    margin-bottom: 40px;

    @include mixins.m-media-up(sm) {
      font-size: 16px;
    }

    @include mixins.m-media-up(md) {
      font-size: 18px;
    }
  }
}
