@use 'mixins';
@use 'variables';

:root {
  --white: #f4f6f5;
  --text-primary: #2c2d35;
  --light-green: #d4e8d9;
  --green: #598d66;
  --dark-green: #376b44;
  --dark-grayish: #86928b;
  --light-yellow: #faeb97;
  --yellow: #eedb6d;
  --yellow-border: #a38314;
  --dark-yellow: #d9b949;
  --card-background: #e1ede6;
  --font-family-body: sans-serif;
}

html,
body {
  margin: 0;
  background-color: var(--white);
  font-family: var(--font-family-body);
}

a {
  text-decoration: none;
  @include mixins.m-state-clickable;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  user-select: none;
  pointer-events: none;
}

.container {
  max-width: 1110px;
  padding: 0 16px;
  margin: 0 auto;
}

.row {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(12, 1fr);

  @include mixins.m-media-up(lg) {
    grid-gap: 32px;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span #{$i};
  }

  @each $key, $value in variables.$grid-breakpoints {
    .col-#{$key}-#{$i} {
      grid-column: span 12;

      @include mixins.m-media-up($key) {
        grid-column: span #{$i};
      }
    }
  }
}

.d-none {
  display: none;
}

.d-md-block {
  display: none;

  @include mixins.m-media-up(md) {
    display: block;
  }
}

.d-md-none {
  @include mixins.m-media-up(md) {
    display: none;
  }
}

.d-lg-block {
  display: none;

  @include mixins.m-media-up(lg) {
    display: block;
  }
}

.d-lg-none {
  @include mixins.m-media-up(lg) {
    display: none;
  }
}

.d-xl-block {
  display: none;

  @include mixins.m-media-up(xl) {
    display: block;
  }
}

.d-xl-none {
  @include mixins.m-media-up(xl) {
    display: none;
  }
}

@import 'components';
